* {
  background-color: #EEDEFF;}
h1 {
text-align: center;
font-family: 'EB Garamond', serif;}
h3 {
 color: white;
 text-align: center;
 font-family:'EB Garamond', serif;}

 a {
   background-color: black;
   color: white;
   padding: 1em 1.5em;
   text-decoration: none;
   text-align: center;
   text-transform: none;
 }
