
  /*---EB+Garamond & Oxygen Font Import ---*/
  @import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Oxygen&display=swap');

  body {
    background-color: MistyRose;}

a {
  text-align: left;
  font-family:'EB Garamond', serif;}

h3 {
 text-align: left;
 font-family:'EB Garamond', serif;}

 h2 {
 text-align: left;
 font-family: 'EB Garamond', serif;}

 h1 {
 text-align: left;
 font-family: 'EB Garamond', serif;}



 a:link { color: white; text-decoration: none; }

 a:visited { color: HoneyDew; text-decoration: none; }

 a:active { color: LavenderBlush; text-decoration: none; }

 a:hover { color: LightCyan; text-decoration: none; }
