body {
  background-color: pink;}



<style>
  @import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');
</style>

h3 {
 text-align: left;
 font-family:'EB Garamond', serif;}

 h2 {
 text-align: left;
 font-family: 'EB Garamond', serif;}

 h1 {
 text-align: left;
 font-family: 'EB Garamond', serif;}



 a:link { color: black; text-decoration: none; }

 a:visited { color: #330099; text-decoration: none; }

 a:active { color: #33CCCC; text-decoration: none; }

 a:hover { color: #FF6699; text-decoration: none; }
