body {
  background-color: pink;}

  <style>
    @import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');
  </style>

  button {
    background-color:#14A171;
    border: none;
    color:white;
    font-family:Arial, sans-serif;
    text-transform: uppercase;
    padding: 1em 2em 1em 2em;
  }
