/*---EB+Garamond & Oxygen Font Import ---*/
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Oxygen:wght@400;700&display=swap');

body {
  background-color: MistyRose;}


  .container {
    background-image: url(../img/photo-wave.jpeg);
    background-size: cover;
    height:700px;
    margin: 0 auto;
    width:50%;
  }

  h1 {
    font-family: 'EB Garamond', serif;

  }

  h2 {
    color: #fff;
    font-size:52px;
    font-family: 'Oxygen', Arial, sans-serif;
    font-weight: 700;
    margin-top: 350px;
    text-align: center;

  }
