/*---EB+Garamond & Oxygen Font Import ---*/
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Oxygen&display=swap');

body {
  background-color: MistyRose;}


  .container {
    background-image: url(https://images.unsplash.com/photo-1444944232907-0b9e9ace348c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60);
    background-size: cover;
    height:700px;
    margin: 0 auto;
    width:50%;

  }

  h1 {
    font-family: 'Oxygen', Arial, sans-serif;

  }

  h2 {
    color: #fff;
    font-size:60px;
    font-family: 'Oxygen', Arial, sans-serif;
    position: relative;
    text-align: center;

  }
