/*---Garamond Font Import ---*/
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Oxygen&display=swap');

body {
  background-color: MistyRose;}

h1 {
  font-family: 'EB Garamond', serif;
  margin-left: 40px;
}

h2 {
  font-family: 'Oxygen', Arial, sans-serif;
  margin-left: 40px;
}

ul {
  font-family: 'Oxygen', Arial, sans-serif;
  margin-left: 40px;
}

li { font-family: 'Oxygen', Arial, sans-serif;
margin-left: 40px;
}
