/*---Garamond Font Import ---*/
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Oxygen&display=swap');

body {
  background-color: MistyRose;}

h1{
  font-family: 'EB Garamond', serif;
}

h2{
  font-family: 'EB Garamond', serif;
}
