/*---Arimo & Roboto ---*/
@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@400;700&family=Roboto+Slab&display=swap');


body {
  background-color: white;
}

  .flexbox-container {
      height: 1824px;
      width: 1440px;
      display: flex;
      justify-content: center;
      align-items: top;
  }
  .flexbox-item-1 {
    height: 1636px;
    width: 346px;
    background-color: white;

}
.flexbox-item-2 {
    min-height: 1708px;
    min-width: 932px;
    align-self: right;
    margin-top: 70px;
    margin-right: 26px;
    margin-left: 76px;

}
.flexbox-item-3 {
  min-height: 1013px;
  min-width: 932px;
  margin-bottom: 17px;
}
.flexbox-item-4 {
  min-height: 680px;
  min-width: 932px;
}
.flexbox-item-5 {
  min-height: 24px;
  min-width: 218px;
}
  .container {
    background-image: url(../img/bowls.png);
    background-size: cover;
    margin: 10 auto;
    height:1013px;

    width:923px;
  }
  .container1 {
    background-image: url(../img/knife-block.png);
    background-size: cover;
    height:680px;
    margin: 10 auto;
    width:932px;
  }

  .inline-example {
  background-color: white;
  display: inline;
  width:300px;
}

.inline-block-example {
  background-color: white;
  display: inline-block;
  width:19px;
}

h1 { font-family:'Arimo', sans-serif;
    line-height: -30pt;
    font-weight: 700;
    font-size: 30pt;
    font-kerning: -30pt auto;
    color: black;
    margin-top: 144px;
    margin-left: 60px;

    margin-bottom: 26px;
    align-self: left;
  }

h3 {
  font-family:'Roboto', serif;
  font-size: 18pt;
  line-height: 22.5pt;
  font-kerning: 23pt;
  color: black;
  margin-left:60px;
  margin-right: 10px;
  margin-bottom: 900px;
}
p {font-family: 'Arimo',sans-serif;
font-weight: 400;
font-size: 11pt;
line-height: 18.5pt;
font-kerning: -40pt auto;
color: #434343;
margin-left: 60px;
margin-bottom: 84px;
}
h4 {font-family: 'Arimo',sans-serif;
font-weight: 400;
font-kerning: -50pt auto;
font-size: 11.73pt;
color: #434343;
margin-right: 40px;
margin-left: 1124px;
text-align: right;
}

h5 {font-family: 'Arimo',sans-serif;
font-weight: 400;
font-kerning: -50pt auto;
font-size: 11pt;
color: #434343;
}
.flexbox-container2 {
      height: 1864px;
      width: 1440px;
      display: inline-flex;
      justify-content: Right;
      align-items: Right;
