/*---Oxygen Font Import ---*/
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Oxygen&display=swap');

body {
  background-color: MistyRose;}


  p {
    font-family:'Oxygen', sans-serif;
  }

  div.container{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  button.btn-1{
    background: black;
    color: white;
    border: 2px solid white;
    font-family:'Oxygen', sans-serif;
    font-size: 20px;
    letter-spacing: 2px;
    padding: 25px 80px;
    text-transform: uppercase;
    cursor: pointer;
    display: inline-block;
    margin: 15px 30px;
    -webkit-transition: all 0.4s;
      -moz-transition: all 0.4s;
      transition: all 0.4s;
  }


  button.btn-1:hover{
    background-color: white;
    color: black;
    -webkit-transition: all 0.4s;
      -moz-transition: all 0.4s;
      transition: all 0.4s;
  }

  button.btn-2{
    background: black;
    color: white;
    border: 2px solid white;
    font-family:'Oxygen', sans-serif;
    font-size: 20px;
    letter-spacing: 2px;
    padding: 25px 80px;
    text-transform: uppercase;
    cursor: pointer;
    display: inline-block;
    margin: 15px 30px;
    -webkit-transition: all 0.4s;
      -moz-transition: all 0.4s;
      transition: all 0.4s;
  }

  button.btn-2:hover{
    background-color: Black;
    color: white;
    -webkit-transition: all 0.4s;
      -moz-transition: all 0.4s;
      transition: all 0.4s;
