/*---Oxygen Font Import ---*/
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Oxygen&display=swap');

body {
  background-color: MistyRose;}

  button {
    background-color:black;
    border: none;
    color:white;
    font-family:'Oxygen', sans-serif;
    text-transform: uppercase;
    padding: 1em 2em 1em 2em;
  }
  p {
    font-family:'Oxygen', sans-serif;
  }
  a:link { color: white; text-decoration: none; }

  a:visited { color: HoneyDew; text-decoration: none; }

  a:active { color: LavenderBlush; text-decoration: none; }

  a:hover { color: LightCyan; text-decoration: none; }
