/*---Oxygen Font Import ---*/
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Oxygen&display=swap');

body {
  background-color: pink;}

  button {
    background-color:black;
    border: none;
    color:white;
    font-family:'Oxygen', sans-serif;
    text-transform: uppercase;
    padding: 1em 2em 1em 2em;
  }
  p {
    font-family:'Oxygen', sans-serif;
  }
